## opps concept in python

In [1]:
# local variable
# global variable
# polymorphism
# inheritance
# encapsulation
# abstraction

In [2]:
class class_name:
    pass
#  class_name >>>> is class name
# pass >>>> is a keyword and place holder
# class is a keyword

In [3]:
class Student:
    name="Rahul"  # class variable
    age=20 # class variable
    print(f"my name is {name} and my age is {age}")
obj_student=Student()

my name is Rahul and my age is 20

In [4]:
obj_student.name

'Rahul'

In [5]:
obj_student.age

20

In [6]:
class Student:
    name="Manoj"
    age=20
    def info(self): # method 
        # self is a keyword or object
        print("this is my first method")
              
ob=Student()

In [7]:
ob.info()

this is my first method

In [8]:
class Student:
    name="Manoj"
    age=20
    def info(self): # method 
        # self is a keyword or object
        print("this is my first method")
        print(f"my name is {self.name} and my age is {self.age}")
              
ob=Student()

In [9]:
ob.info()

this is my first method
my name is Manoj and my age is 20

# inheritance
## types of inheritance
* single 
* multiple
* multilevel
* heirarichal
* hybrid

In [10]:
# class College:
#     pass

# class Student: 
#     pass

### single inheritance

In [11]:
class College:
    pass
    college="MITS"
    collegeAddress="Jadan"
    def info(self):
        print(self.college)
        print(self.collegeAddress)
class Student(College):  # inheritance
    stuname="Rahul"
    stu_id=111
ob=Student()
print(ob.stuname)
print(ob.stu_id)
print(ob.college)
print(ob.collegeAddress)

Rahul
111
MITS
Jadan

In [12]:
ob.info()

MITS
Jadan

# multiple inheritance

In [13]:
class Father:
    fatherName="Deepak"
    fatherAge=50
class Uncle:
    uncleNme="Rajesh"
class Child(Father,Uncle):
    pass  # multiple inheritance
ob= Child()
print(ob.fatherName)
print(ob.fatherAge)
print(ob.uncleNme)

Deepak
50
Rajesh

# multilevel

In [14]:
class GrandFather:
    pass
    grandFatherName="Karan"
    grandFatherAge=75
class Father(GrandFather):
    pass
    fatherName="Deepak"
    fatherAge=50
class You(Father):
    pass
ob=You()
print(ob.grandFatherName)
print(ob.grandFatherAge)
print(ob.fatherName)
print(ob.fatherAge)

Karan
75
Deepak
50

# polymorphism

In [15]:
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [16]:
type(lst)

list

In [17]:
type("hello")

str

# heirarichal inheritance

In [18]:
class Animal:
    def eat(self):
        print("This animal eats food.")

class Dog(Animal):
    def bark(self):
        print("Dog barks.")

class Cat(Animal):
    def meow(self):
        print("Cat meows.")

d = Dog()
d.eat()
d.bark()

c = Cat()
c.eat()
c.meow()

This animal eats food.
Dog barks.
This animal eats food.
Cat meows.

# hybrid inheritance

In [19]:
class Person:
    def show_person(self):
        print("I am a person.")

class Student(Person):
    def show_student(self):
        print("I am a student.")

class Teacher(Person):
    def show_teacher(self):
        print("I am a teacher.")

class TA(Student, Teacher):
    def show_ta(self):
        print("I am a Teaching Assistant.")

t1 = TA()
Student.show_person(t1)  
t1.show_student()
t1.show_ta()
t1.show_teacher()

I am a person.
I am a student.
I am a Teaching Assistant.
I am a teacher.

# encapsulation
### private 
### public 
### protected

In [20]:
class Student:
   __name="Rahul"   #private
   age=20   #public
   _id = "111"   #protected
st=Student()

In [21]:
st.age

20

In [22]:
st._id

'111'

In [23]:
# st.__name   wrong way

In [24]:
st._Student__name  # accessing private variable using class name

'Rahul'

# task 1 (ATM)
### make class name bank and save the account number private
### address
### method and uske andr total balance

In [25]:
class Bank:
    __accountNumber=123456789
    customerName="Rahul"
    address="Pali"
    phoneNo="987654321"
    def totalBalance(self):
        self.balance=int(input("Enter your total balance: "))
        print(f"Your total balance is: {self.balance}")
        print(f"Your account number is: {self.__accountNumber}")
id=Bank()

In [26]:
print("your name is ",id.customerName)
print("your address is ",id.address)
print("your phone number is ",id.phoneNo)
id.totalBalance()

your name is  Rahul
your address is  Pali
your phone number is  987654321

Your total balance is: 111
Your account number is: 123456789

# task 1 >>>> super function
# task 2 >>> BMI Calculator (use class)

In [27]:
# super function
# In Python, the super() function is used to access methods or constructors of a parent (super) class from a child (sub) class. 
# It plays an important role in inheritance, especially when dealing with method overriding and multiple inheritance.

In [28]:
# constructor
# init method
# __init__ method

class Student:
    def __init__(self):
        pass
Student()

In [29]:
class Student:
    def __init__(self, name, age):
        self.name = name  #instance variable
        self.age = age  #instance variable

s1=Student("Rahul",age= 20)
s1.name

'Rahul'

In [30]:
s1.age

20

In [31]:
print(s1.name)
print(s1.age)

Rahul
20

In [32]:
class Student:
    def __init__(self, name, age,address):
        self.name = name  #instance variable
        self.age = age  
        self.address = address
    def display(self):
        print(f"Name: {self.name}, Age: {self.age}, Address: {self.address}")
s1=Student(name="Rahul",age= 20,address="Pali")

In [33]:
s1.display()

Name: Rahul, Age: 20, Address: Pali

### class bank
### account number private
### address
### method 
#### deposite
#### withdraw
### total balance

In [36]:
class Bank:
    def __init__(self, name,age,accountNo,phoneNo,address):
        self.name = name
        self.age = age
        self.__accountNo = accountNo
        self.phoneNo = phoneNo
        self.address = address
    def deposite(self):
        self.amount =int(input("enter the amount to deposit: "))
        print(f"deposited amount is {self.amount} to account number {self.__accountNo}")
    def withdraw(self):
        self.Wamount =int(input("enter the amount to withdraw: "))
        print("withdrawn amount is ", self.Wamount)
    def totalBalance(self):
            print("total balance is " ,self.amount - self.Wamount)

b1=Bank("Rahul","20","12345678","987654321","Pali")

In [37]:
print("your name is ",b1.name)
print("your age is ",b1.age)
print("your phone number is ",b1.phoneNo)
print("your address is ",b1.address) 
b1.deposite()
b1.withdraw()
b1.totalBalance()

your name is  Rahul
your age is  20
your phone number is  987654321
your address is  Pali

deposited amount is 12 to account number 12345678
withdrawn amount is  12
total balance is  0